@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
   
}
body{
   
    min-width: 420px;
    height: 125px;
    
}
header{
    background: #2E3A61;
    
    min-width: 420px;
    height: 110px;
    padding-top: 20px;
    
    
}
#emoji{
    position: relative;
    left: 50%;
    top: 20%;

    transform: translate(-50%, -50%);
    padding-bottom: 5px;
    
}
header > h1{
    color: #FFFFFF;
    font-family: "Istok Web", sans-serif;

    
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: none;
}
div#pesquisar{
    background-color: rgb(253, 249, 253);
   
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    border:solid 1px;
    border-radius: 50px;
    width: 290px;
    height: 40px;
    margin: auto;
    padding-top: 5px;
    padding-left: 15px;
    margin-top: -21px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    
}
div#pesquisar>input#pesq{
    background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
    
    
}
div#pesquisar>img#lupa{
    position: relative;
    top: 3.1px;
}

nav{
    max-height: 220px;
    border: 1px solid white;
    display: flex;
    overflow-x: auto;
    padding-left: 15px;
}
nav::-webkit-scrollbar{
    width: 0;
}
nav>a{

    text-decoration: none;
    color: white;
    background: #2E3A61;
    border-radius: 20px;
    padding: 9px 15px;
    
    border-left: 40px;
    min-width: 105px;
    height: 17px;
    margin-right: 12px;
    text-align: center;


    font-family: "Kreon", serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;

}
main{
   
    padding: 30px;
    
    
}
h2 {
   font-size: 17px;
   padding-bottom: 13px;

}

h3{
    color: #2E3A61;
    font-family: "Inter", sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    padding:2px;
    max-width: 280px;

}


.recomendados{
    background-color: white;
    max-height: 220px;
    display: flex;
    padding: 0px 18px 18px 18px;
}


.card-recomendados{
   
    border: 1px solid white;
    border-radius: 20px;
    border-left: 40px;

    width: 155px;
    height: 148px;
    background-color: white;
    margin-right: 15px;
    
    box-shadow: 0px 4px 14px 0px #00000033;

}
.img-recomendados{
    
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.texto-recomendados{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.preco-recomendados{
    color: #E03D6E;

    text-align: center;
    font-weight: 700;

}

.reta{
    display: flex;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    
    width: 360px;
    height: 95px;
    
    box-shadow: 0px 2px 16px 0px #00000040;
    margin-bottom: 14px;

}
.info{
  
    margin-left: 8px;
   
    
}
p.desc{
    text-align: justify;
    font-family: "Inter", sans-serif;
    font-size: 8px;
    margin-top: 3px;
    margin-bottom: 20px;
    margin-left:3px;
    max-width:200px;
    max-height: 23px;
   
}
.price{
    
    
    color: #2E3A61;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    padding:4px;
}

footer{
    padding: 10px 30px;
    margin-top: -50px;
}
footer>input#suba{
    width: 52px;
    height: 52px;
    border-radius: 50px;
    border:none;
    background-color: white;

}
footer>#img-up{
    position: relative;
    top: 19px;
    right: 53.5px;
}



div#buta{
    text-align: center;
    padding-bottom: 15px;
}
#but{
    background-color: green;
    color: white;
    width: 45px;
    height: 40px;
} 

.imgR{
   
    border-radius: 20px 0px 0px 20px;
    width: 120px;


}

.imR{
   
    border-radius: 20px 0px 0px 20px;
    width: 120px;
    height: 95px;
    background: black center center no-repeat scroll;
    background-size: cover;
 
}