*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 1rem;
}
h1{
    margin-bottom: 1rem;
}

button{
    padding: .5rem 1rem;
    background-color: #999;
    color: white;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    opacity: .7;
    transition: 0.3s;
    font-size: 1rem;
}

button:hover{
    opacity: 1;
}
#button-open{
    background-color: #007bff;
}

dialog::backdrop{
    background-color: rgb(0 0 0 /.5);
    transition: .5s;
    top: 0;
}
dialog{
    position: fixed;
    border: none;
    border-radius: .5rem ;
    box-shadow: 0 0 1em rgb(0 0 0 /.3);
    width: 500px;
    max-width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    
}


#modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

#modal-body p {
   text-align: justify;
   margin-bottom: 1rem;
}