body {
    background-color: rgb(93, 99, 226);
}
header{
    color: white;
    font: normal 13pt Arial;
    text-align: center;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.395);
}

section {
    background-color: white;
    border-radius: 10px;
    width: 450px;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.552);
    font: normal 13pt Arial;
    
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
.msg{
    font-weight: bolder;
    margin: 5px 5px;
}

#num{
    width: 100px;
}

select#tabela{
    width: 250px;
}
